html, body {
	width: 100%;
	height: 100%
}

.banner {
	background-color: black;
	width: 100%;
	height: 20%;
	font-family: sans-serif;
	font-color: #9E9595;
	margin-bottom: 10px;
	text-align: left;
}
.fa-bars {
	color: #9E9595;
	padding: 10px 10px
}

.todo {
	width: 90%;
	height: 40%;
	margin-left: 12%;
	margin-right: 5%;
	align-items: center;

}

.new {
	width: 25%;
	height: 100%;
	margin-right: 30px;
	border: 2px solid #EF9595;
	float: left;
}
.topr {
	background-color: #ef9595;
	color: #E91708;
	height: 15%;
}

.Inprogress {
	width: 25%;
	height: 100%;
	margin-right: 30px;
	border: 2px solid #F0F096;
	float: left;
}

.topy {
	background-color: #EFDD3E;
	color: #7A7652;
	height: 15%;
	border-right: 10px;
}

.Finished {
	width: 25%;
	height: 100%;
	margin-right: 30px;
	border: 2px solid #96F096;
	float: left;
}

.task {
	border: 1px solid #9E9595;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 15%;
	
}
th {
	background-color: #ef9595;
	color: #EF3E3E;
	width: 100%; 
}

tr {
	border: 1px solid #9e9595;
}